<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email<br>
    <input name="user[email]" type="text"><br>
  </label><br>
  <label>Password<br>
    <input name="user[password]" type="password"><br>
  </label><br>
  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>
 <button onclick="demoLogin()" class="demo-login btn btn-success">Demo Login</button><br>

<script>
var demoLogin = function () {
    $(function () {
      $(".email").typed({
        strings: ["guest12345@gmail.com"],
        typeSpeed: 100,
        callback: function () {
          $(".password").typed({
            strings: ["password"],
            typeSpeed: 20,
            callback: function () {
              $('input.submit').click()
            }
          });
        }
      });
    });
  }
</script>
