<div class="title-area">
	<%=card.escape('title')%>
</div>

<span class="hide-card-modal glyphicon glyphicon-remove"></span>

<div class="items-area">
</div>

<div class="add-item-area">
	<input class="add-item" type="text" placeholder="Add an item..."> 
	<button class="add-item-submit btn btn-success">Add</button>
</div>
